.post-copyright {
  margin-bottom: 2em;
  padding-top: 1em;
  border-bottom: 1px dashed $light-gray;

  .copyright-item {
    margin: 5px 0;
    font-family: Avenir;
  
    a {
      color: $theme-color;
      word-wrap: break-word;

      &:hover {
        border-bottom: $content-link-border;
      }
    }

    .item-title {
      display: inline-block;
      // min-width: 5rem;
      // margin-right: .5rem;
      text-align: left;

      &:after {
        content: "©";
      }
    }
  }
}
